.reel {
  --gap: 1rem;
  display: grid;
  gap: var(--gap);
  grid-auto-flow: column;
  grid-auto-columns: calc(10% - (var(--gap) / 2));
  white-space: nowrap;
  overflow: auto;
  padding: 1rem;
}

.reel::-webkit-scrollbar {
  scroll-behavior: smooth;
  background-color: #121213;

  height: 0.5rem;
}

.reel::-webkit-scrollbar-thumb {
  background-color: #85858b;
}

.reel > * {
  scroll-snap-align: start;
}
