@import "tailwindcss";

:root {
  padding: 0;
  margin: 0;

  --fg: #ebdbb2;
  --bg0_h: #1d2021;

  --blue: #458588;
  --light-blue: #83a598;

  --yellow: #d79921;
  --light-yellow: #fabd2f;
}

.header-height {
  height: calc(3rem + 1px);
}
