package components

templ cards() {
<section class="flex flex-col w-fit">
  <div class="flex flex-col">
    @card_section()
    @card_section()
    @card_section()
    @card_section()
    @card_section()
  </div>
</section>
}
