package components

type Card struct {
	title       string
	tag         string
	description string
}

templ card_list() {
	<section class="flex flex-wrap w-full border border-(--orange) p-3">
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
		@card()
	</section>
}
