package components

import "Marks/internal/database"

templ card(bookmark database.Bookmark) {
	<div class="p-2 w-[25%]">
		<div class="border border-(--blue) w-full p-3">
			<p>
				Title: { bookmark.Title }
			</p>
			<p>
				URL: { bookmark.Url }
			</p>
			if bookmark.Description.Valid {
				<button class="cursor-pointer" type="button">
					<span>
						Description: { bookmark.Description.String }
					</span>
					>
				</button>
			}
		</div>
	</div>
}
