package components

templ header() {
<header class="header-height w-full flex content-center items-center align-middle justify-center">
  <div class="absolute top-3 left-3">
    <button class="border border-(--fg) p-3 cursor-pointer">
      <span class="text-(--yellow)">&quot;drop_down&quot;</span>
    </button>
  </div>
  <div class="h-full w-full flex justify-center items-center">
    <span class="border border-(--fg) p-3 text-(--blue)">&quot;marks&quot;</span>
  </div>
</header>
}
