package components

templ header() {
	<header class="header-height w-full flex content-center items-center align-middle justify-center">
		<div class="absolute top-3 left-3">
			<button class="border border-(--yellow) p-3 cursor-pointer">
				<span>drop_down</span>
			</button>
		</div>
		<div class="h-full w-full flex justify-center items-center">
			<span class="border border-(--aqua) p-3">marks</span>
		</div>
	</header>
}
