#root{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
     --blue: #2445C8;
    --orange: #CF9862;
    --black: #000000;
    --green: #436354;
    --orange2: #CC9B68;
}

.main {
    padding: 2rem;
    height: 100%;
    flex: auto;
} 

body {
  background-color: white;
}


.background{
    position: absolute;
    z-index: -1;
    background-position-y: center;
    background-position-x: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80%;
    width: 90%;
}


.gr1 {
  position: absolute;
  z-index: 1;
}

.gr2 {
  position: relative;
  top: -4.5em;
  z-index: 0;
}


