.logged-in-marks {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.reel {
  --gap: 1rem;
  display: grid;
  gap: var(--gap);
  grid-auto-flow: column;
  grid-auto-columns: calc(30% - (var(--gap) / 2));
  overflow: scroll;
  padding: 1rem;
  scroll-snap-type: x mandatory;
  scroll-padding: 0.5rem;
}

.reel > * {
  scroll-snap-align: start;
}
